* {
    margin:0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding-bottom:60px;
    font-size: 60px;
    color: rgb(34, 34, 34);
    margin-bottom: 40px;
}

.body-wrong h1 {
    color:#fff;
}

h4 {
    text-align: center;
    padding:30px;
    font-size:30px;
}
.body-wrong h4{
    text-align: center;
    padding:10px;
    padding-bottom: 10px;
    font-size:40px;
    color:rgb(255, 112, 112);
}

.body-index {
    background-color: rgb(228, 228, 228);
}

.body-wrong {
    /* background-color: rgb(0, 0, 0); */
    background-image:url("./img/skull2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left:500px;
}

.flex-thing {
    display:flex;
    justify-content: center;
    gap:10px;
    flex-direction: row;
}

.flex-thing img{
    width:400px;
    height:300px;
    border-radius: 5%;
}

.flex-thing img:hover {
    outline:11px solid white;
    opacity:0.5;
    width:400px;
    height:300px;
}

.wrong {
    color: blue;
    text-decoration: none;
    font-size: 50px;
    width: 50%;
    width:410px;
    height:410px;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lime;
}

.next {
    color: #000;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    width: 50%;
    width:250px;
    height:250px;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    border:5px solid #000;
}

.flex-thing3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrong:hover {
    border:5px solid lime;
    background-color: blue;
    color:lime;
}

.next:hover {
    border:5px solid #fff;
    background-color: #000;
    color:#fff;
}

.level {
    font-size: 50px;
    font-weight: 1000;
    background-color: rgb(255, 164, 223);
    display:inline;
}

.body-wrong .level {
    font-size: 50px;
    font-weight: 1000;
    background-color: rgb(255, 164, 223);
    display:inline;
    margin-left:-500px;
}

.align-this-shit {
    text-align: center;
}

.correct {
    color:lime;
    font-size: 90px;
}
.body-correct {
    background-color: cadetblue;
}
.correct-reason {
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 20px;
}

/* .container {

} */


@media only screen and (max-width: 600px) {
    .body-index .body-wrong .body-correct {
      background-color: lightblue;
    }
  }